<h1>Authored by Jalexy</h1>
<p>I'm 24 and originally from Pittsburgh. I've been in Miami for about a year and a half. I like whisky, pizza, and code.</p>

<img src="/cool_image.jpeg"
		 alt="A cool picture of a cat with sunglasses">

<p>
	The date today is: <%= Date.today %>
</p>

<% if Date.today.monday? %>
	<h2>Mondays are the worst...</h2>
<% end %>

<% if Date.today.tuesday? %>
	<h2>It's Tuesday!</h2>
	<p> 
		I love Tuesdays because I teach my lovely students how to code in Sinatra.
	</p>
<% end %>